// Colors
$clr1: #073b4c;
$clr2: #118ab2;
$clr3: #06d6a0;
$clr4: #ffd166;
$clr5: #ef476f;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;