.level-details-container {
    position: absolute;
    padding: 10px;
    .current-level {
        font-size: 1.7rem;
        font-weight: 700;
        color: $clr5;
        margin-bottom: 5px;
    }
    button {
        border: 0;
        background-color: $clr6;
        color: $clr2;
        margin-right: 10px;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
        outline: none;
        &:hover {
            transform: scale(1.1);
        }
    }
}
