.victory-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 90%;
    max-width: 400px;
    height: 200px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(5px);

    h2 {
        font-size: 2.5rem;
        color: $clr5;
        margin-bottom: 20px;
    }

    .buttons-wrapper {
        button {
            margin: 0 20px;
            width: 80px;
            height: 40px;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 0.5px;
            color: $clr6;
            background-color: $clr2;
            outline: none;
            &:hover {
                background-color: $clr5;
            }
        }
    }
}